.preloader{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 2s ease;
    z-index: 999;
}

.preloader img.loading{
  height: 220px;
  position: absolute;
}

.preloader img.logo{
  height: 45px;
  position: absolute;
}

.preloader-finish{
    opacity: 0;
    pointer-events: none;
}

@media (max-width: 500px) {
  .preloader{
    height: 100%;
  }
}
